<div class="main-div">
  <div style="width: 100%">
    <h1>Upload widget</h1>
    <h1>
      <form [formGroup]="imgForm" (ngSubmit)="imgFormSubmit()">
        <mat-radio-group #uploadSelect formControlName="upload">
          <mat-radio-button value="img">img</mat-radio-button>
          <mat-radio-button value="video">video</mat-radio-button>
          <mat-radio-button value="pdf">pdf</mat-radio-button>
          <mat-radio-button value="doc">doc</mat-radio-button>
          <mat-radio-button value="ppt">ppt</mat-radio-button>
          <mat-radio-button value="excel">excel</mat-radio-button>
        </mat-radio-group>

        <button *ngIf="isLogged" mat-stroked-button type="submit" id="upload_widget" (click)="openWidget()"
          class="cloudinary-button" [disabled]="!imgForm.valid">
          Upload files
        </button>
      </form>
    </h1>

    <div class="image-div">
      <div class="image-container">

        <div *ngFor="let item of imgArray" class="img-mediate">

          <mat-card class="img-card">
            <mat-card-header>
              <mat-card-title   [matTooltip]="item[1].filename || ''" >{{item[1].filename.length > 10 ? item[1].filename.slice(0,15) : item[1].filename }}</mat-card-title>
              <mat-card-subtitle>{{item[1].time}}</mat-card-subtitle>

            </mat-card-header>
            <div class="img-img">
              <img style="width: 100%; height: 100%;" mat-card-image [src]="item[1].url" alt="Photo of a Shiba Inu">
            </div>

            <!-- <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content> -->
            <mat-card-actions *ngIf="isLogged" >
              <a style="width: 100%; height : 100%" target="_blank" [href]="item[1].url">
              <button mat-button color="accent" (click)="downloadImage(item[1].url)">Download</button> </a>
              <button mat-button color="warn" (click)="deleteImage(item[0])" >Delete</button>
            </mat-card-actions>
          </mat-card>


          <!-- <p style="text-decoration: dashed; text-transform: capitalize;">{{item[1].filename}} </p>

          <img [src]="item[1].url" style="width: 100%; height: 100%" alt="" />
          <div *ngIf="isLogged" class="button-div">
            <a style="width: 100%; height : 100%" target="_blank" [href]="item[1].url">
              <button mat-flat-button color="accent" class="second" (click)="downloadImage(item[1].url)"> download
              </button>
            </a>

            <button mat-flat-button color="warn" class="second" (click)="deleteImage(item[0])">
              delete
            </button>
          </div> -->


        </div>

      </div>

      <aside>
        <app-ag-grid [rowDatas]="rowDataImg" [colDefs]="columnDefImg" (out)="call($event)" (pageEvent)="pageImgEvent($event)">
        </app-ag-grid>
        <!-- <mat-selection-list #shoes [multiple]="false"  >
        <mat-list-option *ngFor="let shoe of ['first','second']">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list> -->
      </aside>
    </div>

    <div class="image-div">
      <div class="image-container">

        <div *ngFor="let item of videoArray" class="img-mediate">
          <mat-card class="img-card">
            <mat-card-header>
              <mat-card-title   [matTooltip]="item[1].filename || ''" >{{item[1].filename.length > 10 ? item[1].filename.slice(0,15) : item[1].filename }}</mat-card-title>
              <mat-card-subtitle>{{item[1].time}}</mat-card-subtitle>

            </mat-card-header>
            <div class="img-img">
              <video style="width: 100%; height: 100%;" mat-card-image [src]="item[1].url" alt="Photo of a Shiba Inu"> </video>
            </div>

            <!-- <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content> -->
            <mat-card-actions *ngIf="isLogged" >
              <a style="width: 100%; height : 100%" target="_blank" [href]="item[1].url">
              <button mat-button color="accent">Download</button> </a>
              <button mat-button color="warn" (click)="deleteVideo(item[0])"  >Delete</button>
            </mat-card-actions>
          </mat-card>


          <!-- <p style="text-decoration: dashed; text-transform: capitalize;">{{item[1].filename}} </p>
          <video [src]="item[1].url" style="width: 100%; height: 100%"></video>
          <div *ngIf="isLogged" class="button-div">


            <a style="width: 100%; height : 100%" [href]="item[1].url">
              <button mat-flat-button color="accent" class="second"> download </button>
            </a>

            <button mat-flat-button color="warn" class="second" (click)="deleteVideo(item[0])">
              delete
            </button>

          </div> -->
        </div>
      </div>

      <aside>
        <app-ag-grid [rowDatas]="rowDataVideo" [colDefs]="columnDefVideo" (out)="call($event) " (pageEvent)="pageVideoEvent($event)">
        </app-ag-grid>
        <!-- <mat-selection-list #shoes [multiple]="false"  >
          <mat-list-option *ngFor="let shoe of ['first','second']">
            {{shoe}}
          </mat-list-option>
        </mat-selection-list> -->
      </aside>
    </div>
  </div>
</div>
