<div id="main">
  
  <div id="outer-div">
    <div class="index">
      <app-index> </app-index>
    </div>

    <div class="main-section">
      <div  class="center-section">
        <app-user> </app-user>
      </div>
      <div  id="text" class="center-section">
        <app-textfield></app-textfield>
      </div>

      <div id="image" class="center-section">
        <app-img-and-video></app-img-and-video>
      </div>
      <div id="doc" class="center-section">
        <app-docfile></app-docfile>
      </div>

      <div id="pdf" class="center-section">
        <app-pdffiles></app-pdffiles>
      </div>
    </div>

    <aside>
      <app-search-filter></app-search-filter>
    </aside>
  </div>
</div>

<!-- <ngx-extended-pdf-viewer
[src]="'https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf'"
[height]="'100vh'" 
[textLayer]="true"
[showHandToolButton]="true" > enable text selection
</ngx-extended-pdf-viewer> -->
<!-- 
<h2>ng2-pdf-viewer simple usage</h2>

<div id="outerContainer">
  <div class="pdf-container">
    <pdf-viewer
      [src]="src"
      [rotation]="0"
      [original-size]="false"
      [show-all]="true"
      [fit-to-page]="false"
      [zoom]="1"
      [zoom-scale]="'page-width'"
      [stick-to-page]="false"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
      style="width: 100%; height: 600px;"
    ></pdf-viewer>
  </div>
</div>





 <ngx-extended-pdf-viewer style="height: 20vh; width: 100%; background-color: red;" [src]="'https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf'"
[height]="'20vh'" 
[textLayer]="true"
[showHandToolButton]="true"
></ngx-extended-pdf-viewer> -->

<!-- <div id="outerContainer">
    <div class="pdf-container">
      <pdf-viewer
        [src]="src"
        [rotation]="0"
        [original-size]="false"
        [show-all]="true"
        [fit-to-page]="false"
        [zoom]="1"
        [zoom-scale]="'page-width'"
        [stick-to-page]="false"
        [render-text]="true"
        [external-link-target]="'blank'"
        [autoresize]="true"
        [show-borders]="false"
        style="width: 100%; height: 100vh;"
      ></pdf-viewer>
    </div>
  </div> -->

<!-- <div class="actions">
	<button style="margin-right:10px" (click)="selectDocumentType('doc')">Doc</button>
	<button style="margin-right:10px" (click)="selectDocumentType('xl')">Excel</button>
	<button  (click)="selectDocumentType('ppt')">PPT</button>
</div>
<div class="office-viewer">
	<iframe [src]='urlSafe' width='100%' height='100%' frameborder='0'></iframe>
</div> -->

<!-- <div *ngFor="let item of imgArray">
    <advanced-image  [cldImg]="item[1].url"></advanced-image>
    <img [src]="item[1].url"  style="width: 200px; height: 200px;" alt="">
</div> -->

<!-- <h3>Upload Widget Example</h3>

 





  -->
