<div class="index">
    <mat-list role="list" >
        <mat-list-item role="listitem" style="text-align:  center; color: white;" ><a href="#text" >  Text  </a> </mat-list-item>
        <mat-list-item role="listitem" > <a href="#image" >  Image  </a> </mat-list-item>
        <mat-list-item role="listitem"> <a href="#image" >  Video  </a> </mat-list-item>
        <mat-list-item role="listitem"> <a href="#doc" >  Doc  </a> </mat-list-item>
        <mat-list-item role="listitem"> <a href="#pdf" >  pdf  </a> </mat-list-item>
      </mat-list>
</div>
