
.index{
    margin: 0 ;
    padding: 0;
    width: 100%; 
    height: auto;
    /* background-color: red; */
}

mat-list{
    text-align: center;
}
mat-list-item{
    
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center !important;
    color : white !important;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: greenyellow;
}
a:active{
    color: black;
}