
.main-section{
    width: 100%;
    height:  100vh;
    display: flex;
    /* border: 2px solid black; */
    padding: 0.2rem;
    background-color: #2D333B;
    
}
mark {
  background-color: white !important;
  color: yellow!important;
}

.formfield{
    width: 100%;
    background-color:  #1C2128;
    /* border: 1px solid white; */
   
}
.ag-cell-wrap-text {
  word-break: break-word !important;
}
.field-show{
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-color:     #707070  #1C2128;
    scrollbar-width: 10%;
  
   
    background-color: #22272E
}

.txt-area{
   border : 2px solid rgb(70, 70, 70,0.8);
   margin: 0.5rem;
   padding: 0.5rem;
   
}
button{
    height: 2rem;
    margin:0.6rem 0.5rem;
     /* vertical-align:top; */
}

.content-txt{
    border: 2px solid rgb(70, 70, 70,0.2) ;
    background-color: #2D333B;
    
   
     padding: 0.2rem 0.3rem;
     text-align:start;
     
 
}
pre {
  white-space: pre-wrap;
}
.chip{
  align-self: flex-end;
  align-items: flex-end;
}
aside{
    /* background-color:; */
    border: 1px solid #707070;
    width: 24%;
    height: 100%;
    margin-left: 0.5rem;
  }
  p{
    text-align: center;
  }
  mat-selection-list{
    margin: 0.2rem;
  }

  .border{
    border: 1px solid rgb(255, 255, 255,0.2);
    line-height: 0.3rem;

  }

  #scrollbar2::-webkit-scrollbar {
    width: 12px;
}

.field-show::scrollbar-track{
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

#scrollbar2::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #363636;
}